<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Django Girls</title>
</head>
<body>
    <div>
        <h1><a href="/">Blog Django Girls</a></h1>
    </div>

    <div>
        <p>publicado: 26/05/2014, 08:57</p>
        <h2><a href="">Meu primeiro post</a></h2>
        <p>O aprendizado é algo gradativo</p>
    </div>

    <div>
        <p>publicado: 26/05/2014, 08:57</p>
        <h2><a href="">Meu segundo post</a></h2>
        <p>Não tem fim, mas os resultados são gratificantes.</p>
    </div>
</body>
</html>
